<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>Hello World!
<!--
<div class="container">
  <div class="row-fluid">
    <form action="/contact" name="contactus" id="contactus" method="post">
      <fieldset>
	<input type="text" id="name" name="name" class="input-block-level" placeholder="Your name">
	<input type="text" id="email" name="email" class="input-block-level" placeholder="Your email">
	<textarea rows="6" id="message" name="message" class="input-block-level" placeholder="Your message"></textarea>
	<button type="submit" id="submit" name="submit" class="btn btn-warning pull-right">Send</button>
      </fieldset>
    </form>
  </div>
-->
<!--
  <div class="row-fluid">
    <% if(typeof msg !== 'undefined') { %>
      <% if(!!err) { %>
        <div class="msgbox err"></div>
      <% } else { %>
        <div class="msgbox success"></div>
      <% } %>
  </div>
</div>
-->

</body>
</html>
